<body style="background-color:#dbf0fc;">
</body>

<%= image_tag "Admin-Header-Dark.jpg", class:"responsive" %>

<br />
<br />

<h2>CHANGE YOUR PASSWORD</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New Password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input-field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm New Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "input-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Change My Password", class:"actions-button" %>
  </div>
<% end %>

<div class="actions-links">
    <%= render "devise/shared/links" %>
</div>
